//font-family
$ff-primary: "Quicksand", sans-serif;

//font weight
$fw-bold: 700;

//color scheme
$color-scheme-main: #ffbd9b;
$color-scheme-sub: #ffd8cc;
$color-scheme-bg: #fbf2e8;
$color-scheme-text: #6d8467;
