@import "../../variables/Variables.scss";

.bl-header {
  position: relative;
  padding: 10px;
  background: $color-scheme-main;
}
.bl-title {
  text-align: center;
  color: $color-scheme-bg;
  font-size: 3.6rem;
}
.bl-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: $color-scheme-bg;
  font-size: 1.6rem;
  font-weight: $fw-bold;
  border: none;
  background: none;
}
